extends layout
block content
  if email
    h2 Welcome back #{email}
    a#logoutlink(href='logout') Log Out
  else
    h1 #{title}
    form(method='POST' action='/signup')
      label(for='email') Email:
      input#email.form-control(type='email' name='email' placeholder='email')
      br

      label(for='password') Password:
      input#password.form-control(type='password' name='password' placeholder='password')
      br

      p #{error}

      button(type='submit') Sign Up